@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  font-weight: 300
}

body {
  @apply font-sans;
  background-color: #10141E;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Reduced width */
}

::-webkit-scrollbar-track {
  background: #161D2F; /* Background of the scrollbar track */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #2e364d; /* Scrollbar handle */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242a3d; /* Scrollbar handle on hover */
}
